<div class="container">
	<p class="notice"><%= flash[:notice] %></p>
		<% if book.errors.any? %>
			<h2 class="text-danger"><%= book.errors.count %>error</h2>
			<ul class="text-danger">
				<% book.errors.full_messages.each do |message|%>
				<li><%= message %></li>
				<%end%>
				</ul>
			<%end%>
			<div class="container">
				<div class="row">
					<div class="col-xs-3">
						<h1>User info</h1>
							<div>
						<%= attachment_image_tag user,:profile_image, :fill,60,60, class: "pull-left profile-thumb",fallback: "no_image.jpg" %>
					</div>
				<table class="table">
					<tbody>
						<tr>
							<th>name</th>
								<th><%=user.name%></th>
							</tr>
							<tr>
								<th>introduction</th>
								<th><%=user.introduction %></th>
							</tr>
							<tr>
								<th>
									フォロー数：<%= link_to user.followings.count, follow_user_path(user) %>
								</th>
							</tr>
							<tr>
								<th>
									フォロワー数：<%= link_to user.followers.count, follower_user_path(user) %>
								</th>
							</tr>
								<th>
								<% unless current_user == user %>
									<% if current_user.following?(user) %>
										<%= form_for(current_user.relationships.find_by(follow_id: user.id),html: {method: :delete}) do |f| %>
										<%= hidden_field_tag :follow_id, user.id %>
										<%= f.submit "フォローを外す", class: "btn btn-danger btn-block" %>
										<% end %>
									<% else %>
										<%= form_for(current_user.relationships.build) do |f| %>

										<%= hidden_field_tag :follow_id, user.id %>
										<%= f.submit "フォローする", class: "btn btn-primary btn-btn-block" %>
										<% end %>
									<% end %>
								<% end %>
								</th>

							</tr>
						</tbody>
					</table>
				<div class="row ">
					<% if user.id == current_user.id %>
					<%=link_to edit_user_path(user.id) do %>
					<i class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></i>
				<% end %>
			<% else %>
				<%= link_to user_path(current_user) do  %>
					<i class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></i>
				<% end %>
			<% end %>
		</div>
		<%= form_for(book) do |f| %>
		<h2>Newbook</h2>
		<h4>Title</h4>
		<p><%= f.text_field :title %></p>
		<h4>Opinion</h4>
		<p><%= f.text_area :body %></p>
		<div><%= f.submit "Create Book",class:"btn btn-primary" %></div>
	<% end %>
</div>